:root {
  /* background-color */
  --main-background-color: #ffffff;
  --additional-background-color: #f7f7f7;
  --booking-background-color: #191c26;

  /* color */
  --main-light-theme-color: #303030;
  --additional-light-theme-color: #555555;
  --main-dark-theme-color: #9da4bd;
  --additional-dark-theme-color: #ffffff;
  --accent-color: #ff6c00;

  /* text */
  --main-font-family: "Open Sans", sans-serif;
  --title-font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--main-background-color);

  font-family: var(--main-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.36px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  outline: none;
}

.dark-theme {
  color: var(--main-dark-theme-color);
}

.light-theme {
  color: var(--main-light-theme-color);
}

.modal-btn,
.send-btn {
    color: var(--additional-dark-theme-color);
    background-color: inherit;

    font-family: inherit;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus,
.send-btn:hover,
.send-btn:focus {
    background-color: var(--accent-color);
}

.social-networks {
    color: var(--main-light-theme-color);
}

.social-link {
    font-size: 11px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 2.2px;
}

.pre-title {
    font-size: 11px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.title {
    font-family: var(--title-font-family);
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2.1px;
}

.text {
    color: var(--additional-light-theme-color);
}

.dark-theme-title {
    color: var(--additional-dark-theme-color);
}

/* Header */
.header {
  background-color: var(--booking-background-color); /* clean */
  color: var(--additional-dark-theme-color);
}

.nav-link {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.2px;
}

/* hero */
.hero {
  background-color: var(--booking-background-color); /* clean */
}

.hero-title {
  color: var(--additional-dark-theme-color);
  font-family: var(--title-font-family);
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 3.6px;
}

/* About */
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.28px;
}

.light-theme-button {
  color: var(--main-light-theme-color);
}

/* Price */
.price {
  background-color: var(--booking-background-color); /* clean */
}

/* Achievement*/
.achievement-number {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 2.1px;
}

.achievements {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
}

/* Barbers */
.barbers {
  background-color: var(--additional-background-color);
}

.barbers-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.profession {
  color: var(--accent-color);

  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.28px;
}

/* Booking */
.booking {
  background-color: var(--booking-background-color);
}

/* Contacts */
.contacts {
  background-color: var(--booking-background-color); /* clean */
}

.address {
  font-style: normal;
}

.address-link {
  font-weight: 700;
}

.email-link {
  text-decoration: underline;
}

/* Footer */
.footer {
  background-color: var(--additional-background-color);
}

.copyright {
  color: var(--main-dark-theme-color);
}
